<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">
<!-- main.html 고유 CSS 추가 시작 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/main.css">
</th:block>
<!-- main.html 고유 CSS 추가 끝 -->
<head>
    <title>Page Title</title>
</head>
<!-- main.html 마크업 시작 -->
<section class="wrapper" layout:fragment="content">

    <section class="contents-left">
        <article>왼쪽영역</article>
    </section>

    <section class="main">
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article><!--
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>-->
    </section>

    <section class="contents-right">
        <article>오른쪽영역</article>
    </section>

</section>
<!-- main.html 마크업 끝 -->

</html>