<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">
<!-- main.html 고유 CSS 추가 시작 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/main.css">
</th:block>
<th:block layout:fragment="common_script">
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
</th:block>

<!-- main.html 고유 CSS 추가 끝 -->
<head>
    <title>Page Title</title>
</head>
<!-- main.html 마크업 시작 -->
<section class="wrapper" layout:fragment="content">

    <section class="contents-left">
        <article>왼쪽영역</article>
    </section>

    <section class="main">
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
    </section>

    <section class="contents-right">
        <article>오른쪽영역</article>
    </section>

</section>
<!-- main.html 마크업 끝 -->

<!-- 외부 HTML 블럭(div ?) 시작 -->
<th:block layout:fragment="externalBlocks">

</th:block>
<!-- 외부 HTML 블럭 끝 -->


<th:block layout:fragment="custom_script">
    <script>
        $(document).ready(function () {
            alert('1111');
        });
    </script>
</th:block>
</html>