<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE">My website</title>
        <script th:src="@{webjars/jquery/3.5.0/jquery.min.js}"></script>
    </head>
    <body>
        <header th:replace="~{fragments/header :: headerFragment}"></header>
        <section layout:fragment="content"></section>
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
        <th:block layout:fragment="externalBlocks"></th:block>
        <th:block layout:fragment="custom_script"></th:block>
    </body>
</html>