<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/head :: headFragment"></head>
    <header th:replace="fragments/header :: headerFragment"></header>
    <section layout:fragment="content"></section>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
    <th:block layout:fragment="externalBlocks"></th:block>
    <th:block layout:fragment="custom_script"></th:block>
</html>