<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Layout</title>
</head>
<body>
<header class="header">
    <div>헤더입니다</div>
</header>
<section class="wrapper">
    <section class="contents-left">
        <article>왼쪽영역</article>
    </section>
    <section class="main">
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article><!--
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>
        <article>메인영역</article>-->
    </section>
    <section class="contents-right">
        <article>오른쪽영역</article>
    </section>
</section>
<footer class="footer">
    <div>풋터입니다.</div>
</footer>
</body>
</html>